@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&family=Manrope:wght@200..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

@layer components {
}

* {
  font-family: "Inter", sans-serif;
  font-weight: 500;
}

:root {
  --color-primary: #5044E5;
}